<%= form_with url: session_path, class: "mx-auto", style: "max-width: 400px;" do |form| %>
  <div class="mb-3">
    <%= form.label :email_address, class: "form-label" %>
    <%= form.email_field :email_address, required: true, autofocus: true,
        autocomplete: "username", class: "form-control",
        placeholder: "Enter your email address" %>
  </div>
  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, required: true,
        autocomplete: "current-password", class: "form-control",
        placeholder: "Enter your password", maxlength: 72 %>
  </div>
  <%= form.submit "Sign in", class: "btn btn-primary w-100" %>
<% end %>
