<% if form.object.errors.any? %>
    <p class="alert alert-danger"><%= form.object.errors.full_messages.to_sentence %></p>
<% end %>

<div class="mb-md-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
</div>

<div class="mb-md-4">
    <%= form.label :featured_image, class: "form-label" %>
    <%= form.file_field :featured_image, accept: "image/*", class: "form-control" %>
</div>

<br>

<div class="mb-md-4">
    <%= form.label :description, class: "form-label" %>
    <%= form.rich_textarea :description, class: "form-control" %>
</div>

<br>

<div class="mb-md-4">
    <%= form.label :notes, class: "form-label" %>
    <%= form.rich_textarea :notes, class: "form-control" %>
</div>

<%= yield if block_given? %>

<div>
    <%= form.submit %>
</div>
