<div class="row align-items-center">
    <div class="col">
        <h2><%= table_title %></h2>
    </div>
    <% if can_edit %>
        <div class="col-auto mt-3">
            <%= link_to new_path do %>
                <i class="fa-solid fa-plus"></i> New <%= table_title.singularize %>
            <% end %>
        </div>
    <% end %>
</div>
<div class="row">
    <div class="col">
        <% if items.empty? %>
            <p class="text-muted fst-italic">No <%= table_title.downcase %> yet.</p>
        <% else %>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <% if can_edit %><th class="text-end">Actions</th><% end %>
                    </tr>
                </thead>
                <tbody>
                    <% items.each do |item| %>
                            <tr>
                                <td><%= link_to item.name, [parent, item].compact %></td>
                                <% if can_edit %>
                                    <td class="text-end">

                                            <%= link_to [:edit, parent, item] do %>
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            <% end %>

                                    </td>
                                <% end %>
                            </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>
