<div><%= link_to @campaign do %><i class="fa-solid fa-arrow-left"></i> Back<% end %></div>

<h1 class="text-center mb-4"><%= @pc.name %></h1>

<div class="row mb-4">
    <div class="col">
        <%= render "shared/text_block",
          title: "Description",
          field: @pc.description,
          edit_path:  edit_campaign_player_character_path(@campaign, @pc),
          can_edit: @is_game_master %>
        <div class="row">
            <%= @pc.description %>
        </div>
        <% if @is_game_master %>
            <%= render "shared/text_block",
              title: "Notes",
              field: @pc.notes,
              edit_path:  edit_campaign_player_character_path(@campaign, @pc),
              can_edit: @is_game_master %>
        <% end %>
    </div>
    <div class="col">
        <div class="text-center">
            <%= image_tag @pc.featured_image if @pc.featured_image.attached? %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row align-items-center">
            <div class="col">
                <h2>Character Sheets</h2>
            </div>
            <% if @sheet.present? %>
                <div class="col-auto mt-3">
                    <%= link_to edit_campaign_player_character_character_sheet_path(@campaign, @pc, @sheet) do %>
                        <i class="fa-solid fa-pen-to-square"></i> Edit Sheet
                    <% end %>
                </div>
            <% else %>
                <div class="col-auto mt-3">
                    <%= link_to new_campaign_player_character_character_sheet_path(@campaign, @pc) do %>
                        <i class="fa-solid fa-plus"></i> New Sheet
                    <% end %>
                </div>
            <% end %>
        </div>
        <% if @sheet.present? %>
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <tbody>
                            <% @sheet.data.each do |name, field| %>
                            <tr>
                                <td><%= name %></td>
                                <td><%= field["value"] %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
         <% end %>
    </div>
</div>

<div>
    <%= link_to edit_campaign_player_character_path(@campaign, @pc) do %>
        <i class="fa-solid fa-pen-to-square"></i> Edit
    <% end %>
    <%= button_to [@campaign, @pc], method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-trash"></i> Delete
    <% end %>
</div>
