<div><%= link_to "Back", @campaign %></div>

<h1 class="text-center mb-4"><%= @npc.name %></h1>

<div class="row mb-4">
    <div class="col">
        <%= render "shared/text_block",
          title: "Description",
          field: @npc.description,
          edit_path: edit_campaign_non_player_character_path(@campaign, @npc),
          can_edit: @is_game_master %>

        <% if @is_game_master %>
            <%= render "shared/text_block",
              title: "Notes",
              field: @npc.notes,
              edit_path:  edit_campaign_non_player_character_path(@campaign, @npc),
              can_edit: @is_game_master %>
        <% end %>
    </div>
    <div class="col">
        <div class="row text-center">
            <%= image_tag @npc.featured_image if @npc.featured_image.attached? %>
        </div>
        <% if !@npc.related(Location).empty? %>
            <%= render "shared/table_list",
            table_title: "Related Locations",
            items: @npc.related(Location),
            parent: @campaign,
            new_path:  new_campaign_location_path(@campaign),
            can_edit: @is_game_master %>
        <% end %>

        <% if !@npc.related(NonPlayerCharacter).empty? %>
            <%= render "shared/table_list",
            table_title: "Related NPCs",
            items: @npc.related(NonPlayerCharacter),
            parent: @campaign,
            new_path:  new_campaign_non_player_character_path(@campaign),
            can_edit: @is_game_master %>
         <% end %>
    </div>
</div>

<% if @is_game_master %>
    <div>
        <%= link_to "Edit", edit_campaign_non_player_character_path(@campaign, @npc) %>
        <%= button_to "Delete", [@campaign, @npc], method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    </div>
<% end %>
