<div>
    <%= link_to campaigns_path do %>
        <i class="fa-solid fa-arrow-left"></i> Back
    <% end %>
</div>

<h1 class="text-center mb-4"><%= @campaign.name %></h1>

<% if @campaign.character_sheet_template.present? %>
    <div class="row mb-4">
        <%= link_to campaign_character_sheet_template_path(@campaign, @campaign.character_sheet_template.id) do %>
            <i class="fa-solid fa-eye"></i> View Character Sheet Template
        <% end %>
    </div>
  <% else %>
    <div class="row mb-4">
        <%= link_to new_campaign_character_sheet_template_path(@campaign) do %>
            <i class="fa-solid fa-plus"></i> Add Character Sheet Template
        <% end %>
    </div>
<% end %>

<div class="row mb-4">
    <%= link_to new_campaign_campaign_invite_path(@campaign) do %>
        <i class="fa-solid fa-envelope"></i> Invite Friends
    <% end %>
</div>

<div class="row mb-4">
    <div class="col">
        <%= render "shared/text_block",
          title: "Description",
          edit_path: edit_campaign_path(@campaign),
          field: @campaign.description,
          can_edit: @is_game_master %>
        <% if @is_game_master %>
            <%= render "shared/text_block",
              title: "Notes",
              edit_path: edit_campaign_path(@campaign),
              field: @campaign.notes,
              can_edit: @is_game_master %>
        <% end %>
    </div>
    <div class="col">
        <div class="text-center row">
            <%= image_tag @campaign.featured_image, class: "img-fluid rounded" if @campaign.featured_image.attached? %>
        </div>
    </div>
</div>

<div class="row mb-md-4">
    <div class="col-md-6">
        <%= render "shared/table_list",
          table_title: "Locations",
          items: @campaign.locations,
          parent: @campaign,
          new_path:  new_campaign_location_path(@campaign),
          can_edit: @is_game_master %>
    </div>
    <div class="col-md-6">
        <%= render "shared/table_list",
          table_title: "NPCs",
          items: @campaign.non_player_characters,
          parent: @campaign,
          new_path:  new_campaign_non_player_character_path(@campaign),
          can_edit: @is_game_master %>
    </div>
</div>

<div class="row mb-md-4">
    <div class="col-md-6">
        <%= render "shared/table_list",
          table_title: "PCs",
          items: @campaign.player_characters,
          parent: @campaign,
          new_path:  new_campaign_player_character_path(@campaign),
          can_edit: @is_game_master %>
    </div>
</div>

<br>

<% if @is_game_master %>
    <div class="row">
        <div class="col-6 text-end">
            <%= link_to [:edit, @campaign] do %>
                <i class="fa-solid fa-pen-to-square"></i> Edit
            <% end %>
        </div>
        <div class="col-6">
            <%= button_to @campaign, method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash"></i> Delete
            <% end %>
        </div>
    </div>
    <br>
<% end %>
