<div>
    <%= link_to "Back", campaigns_path %>
</div>

<h1><%= @campaign.name %></h1>

<div>
    <%= link_to "New Location", new_campaign_location_path(@campaign)  %>
</div>

<div id="locations">
    <% @campaign.locations.each do |location| %>
        <div>
            <%= link_to location.name, campaign_location_path(@campaign.id, location.id) %>
        </div>
    <% end %>
</div>

<div>
    <%= link_to "Edit", edit_campaign_path(@campaign) %>
    <%= button_to "Delete", @campaign, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>