<div>
    <%= link_to "Back", campaigns_path %>
</div>

<h1><%= @campaign.name %></h1>

<br><br>

<h2>Locations</h2>
<% if @is_game_master %>
    <div>
        <%= link_to "New Location", new_campaign_location_path(@campaign)  %>
    </div>
<% end %>
<div id="locations">
    <% @campaign.locations.each do |location| %>
        <div>
            <%= link_to location.name, campaign_location_path(@campaign.id, location.id) %>
        </div>
    <% end %>
</div>

<br><br>

<h2>PCs</h2>
<div>
    <%= link_to "New Player Character", new_campaign_player_character_path(@campaign)  %>
</div>
<div id="player-characters">
    <% @campaign.player_characters.each do |pc| %>
        <div>
            <%= link_to pc.name, campaign_player_character_path(@campaign.id, pc.id) %>
        </div>
    <% end %>
</div>

<br><br>

<h2>NPCs</h2>
<% if @is_game_master %>
    <div>
        <%= link_to "New NPC", new_campaign_non_player_character_path(@campaign)  %>
    </div>
<% end %>
<div id="npcs">
    <% @campaign.non_player_characters.each do |npc| %>
        <div>
            <%= link_to npc.name, campaign_non_player_character_path(@campaign.id, npc.id) %>
        </div>
    <% end %>
</div>

<br><br>

<% if @is_game_master %>
    <div>
        <%= link_to "Edit", edit_campaign_path(@campaign) %>
        <%= button_to "Delete", @campaign, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    </div>
<% end %>