<%= form_with model: [campaign, location] do |form| %>
    <%= render layout: 'shared/form_fields', locals: { form: form } do %>
        <div class="mb-md-4">
            <%= form.label "Related Npcs", class: "form-label" %>
            <%= form.collection_checkboxes :related_npc_ids, @campaign.non_player_characters, :id, :name %>
        </div>

        <div class="mb-md-4">
            <%= form.label "Related locations", class: "form-label" %>
            <%= form.collection_checkboxes :related_location_ids, @campaign.locations.select{|l| l != @location}, :id, :name %>
        </div>

    <% end %>
<% end %>
