<%= form_with model: [campaign, location] do |form| %>
    <% if form.object.errors.any? %>
        <p class="error"><%= form.object.errors.full_messages.first %></p>
    <% end %>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :featured_image, style: "display: block" %>
        <%= form.file_field :featured_image, accept: "image/*" %>
    </div>

    <div>
        <%= form.label :description, style: "display: block" %>
        <%= form.rich_textarea :description %>
    </div>

    <div>
        <%= form.label :notes, style: "display: block" %>
        <%= form.rich_textarea :notes %>
    </div>

    <%= form.collection_checkboxes :non_player_character_ids, @campaign.non_player_characters, :id, :name  %>

    <div>
        <%= form.submit %>
    </div>
<% end %>