<div><%= link_to @campaign do %><i class="fa-solid fa-arrow-left"></i> Back<% end %></div>

<h1 class="text-center mb-4"><%= @location.name %></h1>

<div class="row mb-4">
    <div class="col">
        <%= render "shared/text_block",
          title: "Description",
          field: @location.description,
          parent: @campaign,
          edit_path: edit_campaign_location_path(@campaign, @location),
          can_edit: @is_game_master %>

        <% if @is_game_master %>
            <%= render "shared/text_block",
              title: "Notes",
              field: @location.notes,
              parent: @campaign,
              edit_path: edit_campaign_location_path(@campaign, @location),
              can_edit: @is_game_master %>
        <% end %>
    </div>
    <div class="col">
        <div class="row text-center">
            <%= image_tag @location.featured_image if @location.featured_image.attached? %>
        </div>

        <% if !@location.related(Location).empty? %>
            <%= render "shared/table_list",
            table_title: "Related Locations",
            items: @location.related(Location),
            parent: @campaign,
            new_path:  new_campaign_location_path(@campaign),
            can_edit: @is_game_master %>
        <% end %>

        <% if !@location.related(NonPlayerCharacter).empty? %>
            <%= render "shared/table_list",
            table_title: "Related NPCs",
            items: @location.related(NonPlayerCharacter),
            parent: @campaign,
            new_path:  new_campaign_non_player_character_path(@campaign),
            can_edit: @is_game_master %>
         <% end %>
    </div>
</div>

<% if @is_game_master %>
    <div>
        <%= link_to edit_campaign_location_path(@campaign, @location) do %>
            <i class="fa-solid fa-pen-to-square"></i> Edit
        <% end %>
        <%= button_to [@campaign, @location], method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i> Delete
        <% end %>
    </div>
<% end %>
