<%= form_with model: [campaign, character_sheet_template],
    data: {
      controller: "character-sheet-template",
      action: "submit->character-sheet-template#serialize",
      "character-sheet-template-existing-fields-value": (character_sheet_template.data || {}).to_json
    } do |form| %>

    <% if form.object.errors.any? %>
        <p class="error"><%= form.object.errors.full_messages.first %></p>
    <% end %>

    <div class="mb-md-4">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="row align-items-center">
        <div class="col">
            <h2>Fields</h2>
        </div>
        <div class="col-auto mt-3">
            <button type="button" class="btn btn-sm"
                    data-action="click->character-sheet-template#addField">Add Field</button>
        </div>
    </div>
    <div data-character-sheet-template-target="fields"></div>

    <%= form.hidden_field :data, data: { "character-sheet-template-target": "data" } %>

    <div class="row mt-4">
        <div class="col-6 text-end">
            <%= form.submit class: "btn btn-primary" %>
        </div>
        <div class="col-6 mt-1">
            <%= link_to "javascript:history.back()" do %>
                Cancel
            <% end %>
        </div>
    </div>

<% end %>
