<div><%= link_to @campaign do %><i class="fa-solid fa-arrow-left"></i> Back<% end %></div>

<h1 class="text-center mb-4"><%= @template.name %></h1>

<h2>Fields</h2>
<table class="table">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Field Type</th>
    </tr>
  </thead>
  <tbody>
    <% @template.data.each do |name, type| %>
      <tr>
        <td><%= name %></td>
        <td><%= type.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= link_to edit_campaign_character_sheet_template_path(@campaign, @template) do %>
     <i class="fa-solid fa-pen-to-square"></i> Edit
 <% end %>
 <%= button_to [@campaign, @template], method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
     <i class="fa-solid fa-trash"></i> Delete
 <% end %>
