<div><%= link_to @campaign do %><i class="fa-solid fa-arrow-left"></i> Back<% end %></div>

<h1 class="text-center mb-4"><%= @template.name %></h1>

<h2>Fields</h2>
<table class="table">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Field Type</th>
    </tr>
  </thead>
  <tbody>
    <% @template.data.each do |name, type| %>
      <tr>
        <td><%= name %></td>
        <td><%= type.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row mt-4">
    <div class="col-6 text-end">
        <%= link_to edit_campaign_character_sheet_template_path(@campaign, @template) do %>
            <i class="fa-solid fa-pen-to-square"></i> Edit
        <% end %>
    </div>
    <div class="col-6 mt-1">
        <%= button_to [@campaign, @template], class: "btn btn-sm btn-danger", method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i> Delete
        <% end %>
    </div>
</div>
